/* ------------------------------------------------------------------/
	* DIMENSIONS
/* ------------------------------------------------------------------*/
$grid-margin-right: 10px;
$grid-margin-left: 10px;
$global-breadcrumb-height: 42px;
$subnav-height: 100px;
$category-product-list-height: 450px;
$tab-height: 350px;
$page-row-offset-top: 80px;
$page-row-offset-bottom: 90px;
$change-topic-width: 210px;

$btn-padding-top: 7px;
$btn-padding-right: 32px;
$btn-padding-bottom: 7px;
$btn-padding-left: 32px;

$product-image-height: 150px;

/* ------------------------------------------------------------------/
	* COLORS
/* ------------------------------------------------------------------*/
$color-primary-blue: #00a2da;
$color-text-default: #666;
$color-text-dark: #555;
$color-text-light: #888;
$color-border-grey: #ddd;
$color-border-grey-light: #e7e7e7;

/* ------------------------------------------------------------------/
	* SECTION: CARTRIDGES
/* ------------------------------------------------------------------*/
$section-cartridges-bg-color: #ebebeb;
$section-cartridges-h3-pd-btm: 72px;
$overview-list-bg-color: #f6f5f5;
$over-view-list-stroke: #ebebeb;
